
# Example MariadB config file.
# You can copy this to one of:
# /etc/my.cnf to set global options,
# /mysql-data-dir/my.cnf to get server specific options or
# ~/my.cnf for user specific options.
# 
# One can use all long options that the program supports.
# Run the program with --help to get a list of available options

[client]

# The mariadb server  (both [mysqld] and [mariadb] works here)
[mariadb]
gdb
datadir=/data
user=root
plugin-maturity=experimental
loose-file-key-management-filename=/file-keys.txt
loose-file-key-management-chacha-filename=/file-keys.txt
plugin-dir=/plugins

# Where you have your mysql/MariaDB source + sql/share/english
# language=/path/to/src/dir/sql/share/english

[mysqldump]
quick
set-variable = max_allowed_packet=16M

[mysql]
no-auto-rehash

[myisamchk]
set-variable= key_buffer=128M
